/* Class Selectors */
.gradeA {
  background-color: #2db138; /* light green */
  padding: 8px;
  margin: 4px;
  list-style: none;
}

.gradeB {
  background-color: #e64a2e; /* light red/pink */
  padding: 8px;
  margin: 4px;
  list-style: none;
}

.gradeC {
    background-color: aquamarine;
    padding: 8px;
    margin: 4px;
    list-style: none;
}

/* Attribute Selectors */
input[type="text"] {
  border: 2px solid #00f;
  background-color: #e0f0ff;
  padding: 6px;
}

input[type="email"] {
  border: 2px solid #080;
  background-color: #f0fff0;
  padding: 6px;
}